<!-- add flow control if you don't have the rifle AND the ammo -->

<!-- have one paragraph if you only have the rifle -->

<!-- game over if you don't have both (and buttons should disappear too) -->

<body>
	<p>You're missing either the ammo, the rifle, or both</p>
</body>