<body>
	<!-- in this chapter you would assume that the player picked up the ammunition AND the rifle from ch.1 -->
	<!-- if @character.items.include?(rifle) && @character.items.include?(ammo) -->

	<% if @character.items.find_by(id: 4) != nil && @character.items.find_by(id: 8) != nil %>
		<p>
			You make it to the end of the street. Your stomach contracts painfully as you wonder how long it has been since you had anything to eat. 
		</p>

		<p>
			You can see the ghostly forest just up ahead. "Lt. Medvedev will probably be cooking up a nice cauldron of soup at this point", you think. How good it will be to reunite with the rest of your comrades. The news of Pavel's death will be painful to deliver, but in your heart you know he died an exceedingly noble death. 
		</p>

		<p>
			Suddenly, a shot rings out from behind you and shatters a window not two inches from your face. Glass hits you in a blinding spray but you somehow manage to stumble away unscathed. You instinctively crouch low and whirl around to face your attacker. "There!" you say as you spot another muzzle flash coming from a high church window. This time, the shot whizzes by your ear, splitting the air with a sound like a snapping rubber band.
		</p>

		<p>
			In one smooth motion, your instincts and training take over. You unsling the old hunting rifle from your shoulder and slide one cartridge into the breach. You just have time to raise the rifle and fire. 
		</p>

		<p>
			A dark form crumples to the floor behind the window. Once again silence fills the air, and you appear to be safe. For now.
		</p>

		<p>
			You continue on to the edge of the forest, leaving the town behind. You glance back over your shoulder and wonder if you'll ever see this place again.
		</p>
	
	<% elsif @character.items.find_by(id: 4) != nil && @character.items.find_by(id: 8) == nil %>
		<% @status = "dead" %>
		<h3>Game Over</h3>
		<p>You have the rifle but not the ammo. You're a dead duck</p>
		<a href="/chapter1/plot">Start over?</a>
	<% elsif @character.items.find_by(id: 4) == nil && @character.items.find_by(id: 8) != nil %>
		<h3>Game Over</h3>
		<% @status = "dead" %>
		<p>You have the ammo but not the rifle. You're a dead duck.</p>
		<a href="/chapter1/plot">Start over?</a>
	<% else %>
		<h3>Game Over</h3>
		<% @status = "dead" %>
		<p>You don't have either, you're totally defenseless. Game over.</p>
		<a href="/chapter1/plot">Start over?</a>
	<% end %>

</body>