
	
	<form action="/chapter<%= @location.id %>/pickup" method="POST">
		<p>Enter Item:<input type="text" name="item[name]"></p>
	</form>


<!-- have a flow control to tell you if the item is there or not -->
