<body>

	<!-- if you picked up the peaches and the bandages, then you can save medvedev, and it says how you saved him / happy ending on the victory screen -->
	<p>
		Upon entering the bunker, you immediately spot Lt. Medvedev. He looks terrible.
	</p>

	<!-- else -->
	<!-- medvedev dies, and you lose the game (there is a certain screen other than victory when you click go to next location, explaining what happens) -->
	<!-- in other words, there are a few different -->
</body>