<body>
	<p>
		You make your way through the forest, stopping only once when a wolf's howl in the distance catches you off guard. 
	</p>

	<p>
		Suddenly you spot a large, rectangular form in the distance. It looks like a bunker. 
	</p>

	<p>
		You crouch low and make your way towards it. 
	</p>
</body>