
<body>
	
		<p>You are currently holding:</p>

		<div class="items">
			<% @character.items.each do |item| %>
				<p><strong><%= item.name.capitalize %>:</strong></p>
				<p><%= item.description.capitalize %></p>
				</tr>	
			<% end %>
		</div>
</body>
