<body>
	<p>You are currently holding:</p>

	<% @character = Character.first %>
	<% @character.items.each do |item| %>
	
	<p>
		Name: <%= item.name %><br>
		Description: <%= item.description %>
	</p>

	<% end %>
	<a href="/game/chapter1">Back to Room</a>
</body>