<body>
	<p>You are currently holding:</p>

	<% Character.first.items.each do |item| %>
	<ul>
		<li>Name: <%= item.name %></li>
		<li>Description: <%= item.description %></li>
	</ul>
	<% end %>
	<a href="/game/chapter1">Back to Room</a>
</body>