<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Sam's Adventure Game</title>
		<link rel="stylesheet" href="../stylesheets/style.css" text"text/css">
	</head>
<body>
	
	<h2>Chapter 2</h2>

	<!-- chapter image -->
	

	<!-- story text	 -->


	<!-- action menu -->

	<div class="actions">
		<input type="submit" value="Story Text">
		<input type="submit" value="Look Around">
		<input type="submit" value="Pick Up Object">
		<input type="submit" value="View Inventory">
		<input type="submit" value="Go to Next Location">
		<input type="submit" value="Go to Previous Location">


	</div>
</body>
</html>