
<body>
	
		<p>
			You slide the key into the door and turn it with a satisfying clatter. "Why would someone lock me in here?" you think. No matter. You are free for the time being. Under the cover of darkness, you descend the rickety stairway and emerge onto the street.
		</p>

		<p>
			You move silently along the cobblestones, desperately hoping no erstwhile Germans should pop out and disturb your progress. You remember that Lt. Medvedev instructed you and Pavel that there is a fallback position in the forest, just beyond the outskirts of the town. Despite a wave of dizziness that creeps over you, you manage to get your bearings and continue north along the avenue. All is quiet.
		</p>

</body>
</html>