
<body>
	
	<h2>Chapter 4</h2>
	
		<!-- img here -->

		<!-- description here -->
		<p>Description of the actual action of the plot goes here2</p>

		<!-- absolutely need to make this menu bar part of the layout, and dynamic so 
		that it works on every page  -->
		<div class="actions">
			<form action="/game/chapter4/details" method="GET">
				<input type="submit" value="Look Around">
			</form>

			<form action="/pickup" method="GET">
				<input type="submit" value="Pick Up Object">
			</form>
			

			<form action="/current_items" method="GET">
				<input type="submit" value="View Inventory">
			</form>

			<form action="/victory" method="GET">
				<input type="submit" value="Go to Next Location">
			</form>
		</div>
</body>
</html>