
<body>
	
	<h2>Victory!</h2>

	<!-- chapter image -->
	

	<!-- story text	 -->

	<!-- If you play again, it should take you back to the character selection screen -->
	<!-- Remember, playing as different characters should change the gameplay slightly (but that might have to come much later) -->

	<input type="submit" value="Play Again?">

</body>
</html>