
<body>
	<!-- if you don't have the key, you can't unlock the door and start chapter 2. -->
	<!-- in other words, the game has to keep you stuck on chapter 1 with a proper error message UNTIL you pick up the key -->
		<p>
			You slide the key into the door and turn it with a satisfying clatter. "Why would someone lock me in here?" you think. No matter. You are free for the time being. Under the cover of darkness, you descend the rickety stairway and emerge onto the street.
		</p>

		<p>
			You move silently along the cobblestones, desperately hoping no erstwhile Germans should pop out and disturb your progress. You remember that Lt. Medvedev briefed you and Pavel regarding a fallback position in the forest, just beyond the outskirts of the town. Despite a wave of dizziness that creeps over you, you manage to get your bearings and continue north along the avenue. 
		</p>

		<p>
			All is quiet.
		</p>
	<!-- in this part you can actually go to the next location without picking up anything, but then the sniper will kill you in chapter 3 -->

</body>