<body>
	<p>
		You look off to the side and see an alleyway with some trashed cans knocked over, the lids strewn about. A loosened chunk of paving stone lies at your feet. It looks just big enough to fit in your hand
	</p>

	<p>
		You walk over to the alley and see a crate of ammunition stacked against one blast-scarred brick wall. You look inside. Strange, there appear to be a few boxes of rifle shells that happen to be the right caliber for the hunting rifle you picked up.
	</p>

	<p>
		Strange. You look down beside the crate of ammo and see a can of peaches, seemingly undamaged. 
	</p>

</body>