<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Choose Your Character</h1>
	<p>This page will allow you to cycle through characters, see their info and a picture, and select one that you will play as. The character you choose can affect the difficulty / outcome of the game.</p><br>
	<p>Need to figure out how to display each character object's stats and info</p>
	
</body>
</html>