<body>

	<h1>The Journey: An Adventure Game</h1>

	<img class="intro" src="http://www.plasticmodelzone.com/sites/default/files/pictures/objects/ww2_soviet_soldier_pic003.jpg" alt="intro-pic">
	
	<p>
		In this game you play the role of a Russian soldier who has gotten cut off from their unit. Your goal is to proceed through each chapter by reading the text for clues and picking up objects in each area. There are certain items that you must have in your possession in order to move on. 
	</p>

	<p>
		In order to pick up an item, you must enter the correct name of the item in the "pick up item" input field in order for it to be added to your character's inventory. If you have picked up the right item, you'll be able to click "go to next location" and proceed to the next chapter. You should strive to pick up as many items as you can find in each setting - an item from chapter 1 may save your life in chapter 4, for example.
	</p>

	<p>
		Your goal is to survive through all four chapters and join back up with your unit.
	</p>

	<p>Shall we begin?</p>
	<a href="/characters/1">Let's do this</a>

</body>


