<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1 class="welcome">Welcome to Sam's Game</h1>

	<div class="button-bar">
	  <a href="#" class="button prev">Previous</a>
	  <a href="#" class="button next">Next</a>
	</div>
</body>
</html>

