<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Welcome to Sam's Game</h1>

	<p>(intro text / instructions and a picture will go here)</p>

	<p>Shall we begin?</p>
	<a href="/choose_your_character">Let's do this</a>

</body>
</html>

