<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pickup Item</title>
</head>
<body>
	<form action="/pickup" method="POST">
		<p>Enter Item:<input type="text" name="item[name]"></p>
		<input type="submit" value="Pick up item">
	</form>
</body>
</html>