
<!-- if @character.items.include?(peaches) && @character.items.include?(bandages) -->
<!-- if you have the right items to save medvedev -->


	<% if @character.items.find_by(id: 1) != nil && @character.items.find_by(id: 3) != nil && @character.items.find_by(id: 9) != nil %>
	<h1> Victory! </h1>

	<p>
		Explanation of how you saved the lieutenant with the bandages and the peaches and the vodka cause he was wounded and starving and you used the vodka as disinfectant.
	</p>

	<% elsif @character.items.find_by(id: 1) != nil && @character.items.find_by(id: 3) == nil && @character.items.find_by(id: 9) == nil %>

	<h3>Game Over!</h3>

	<p>
		You have the vodka but not the peaches or the bandages. You get drunk but Medvedev dies.
	</p>

	<% elsif @character.items.find_by(id: 1) == nil && @character.items.find_by(id: 3) != nil && @character.items.find_by(id: 9) == nil %>

	<h3>Game Over!</h3>

	<p>
		You have the bandages and peaches but no vodka. Medvedev dies of infection cause you don't have a good disinfectant.
	</p>

	<% elsif @character.items.find_by(id: 1) != nil && @character.items.find_by(id: 3) == nil && @character.items.find_by(id: 9) != nil %>


	<h3>Game Over!</h3>

	<p>
		You have bandages and vodka but no peaches. Medvedev turns into a zombie and tries to eat you and you are forced to shoot him.
	</p>

	<% elsif @character.items.find_by(id: 1) == nil && @character.items.find_by(id: 3) == nil && @character.items.find_by(id: 9) != nil %>
 %>

 	<h3>Game Over!</h3>

 	<p>
 		You have the peaches but no bandages or vodka. He dies.
 	</p>

 	<% else %>

 	<h3>Game Over!</h3>

 	<p>You didn't pick up any of the three things that you needed to save him. Were you even paying attention?</p>

<% end %>



<a href="/chapter1/plot">Play again?</a>
