
<body>
	
	<h2>Chapter 2</h2>
	
		<img src="http://s28.postimg.org/vxaq3i12l/chapter1_abandoned_apartment_ascii.png" alt="chapter1-image" height="400" width="600">

		<p>DETAILED DESCRIPTION HERE WITH CLUES ABOUT ITEMS</p>

		<div class="actions">
			<form action="/game/chapter2" method="GET">
				<input type="submit" value="Story Text">
			</form>
			

			<form action="/pickup" method="GET">
				<input type="submit" value="Pick Up Object">
			</form>
			

			<form action="/current_items" method="GET">
				<input type="submit" value="View Inventory">
			</form>

			<form action="/game/chapter3" method="GET">
				<input type="submit" value="Go to Next Location">
			</form>

		</div>
</body>
</html>