
<body>
	
	<h2>Chapter 1</h2>
	
		<img src="http://s28.postimg.org/vxaq3i12l/chapter1_abandoned_apartment_ascii.png" alt="chapter1-image" height="400" width="600">

		<p>
			You survey the room. You spot an old hunting rifle propped against the door. Beside it appears to be a glass bottle containing a shot or two of clear liquid. The windows are exceedingly filthy, but you can still make out the glow of a campfire in a bombed out department store building across the street. 
		</p>

		<p>
			You stand up to take a better survey of the room. A family must have lived here, at least until recently. There's a hearth with a pile of ashes scattered over the brickwork. Among the ashes lie some curled fragments of yellow paper, as though the apartment's former occupants had burned a trove of documents prior to a hasty departure. You lean closer and can even make out a few words, just enough to see that it's in Russian, but nothing more.
		</p>

		<p>
			You sweep your hand across the mantle, sending up a cloud of dust. Suddenly, your hand stops. The mantle is high enough that it is just beyond your eye-level, but the metallic feel of a key is unmistakable. In your surprise, you knock it to the ground with a resounding clatter. Cursing your own clumsiness, you pray that no one heard. 
		</p>

		<div class="actions">
			<form action="/game/chapter1" method="GET">
				<input type="submit" value="Story Text">
			</form>
			

			<form action="/pickup" method="GET">
				<input type="submit" value="Pick Up Object">
			</form>
			

			<form action="/current_items" method="GET">
				<input type="submit" value="View Inventory">
			</form>

			<form action="/game/chapter2" method="GET">
				<input type="submit" value="Go to Next Location">
			</form>

		</div>
</body>
</html>